<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
        $(document).ready(function(){
        var x = "{{error}}";
        $(".btncancel").click(function(){
        $(".error-popup").hide();
        });
         if (x.length >0){
            $(".error-popup").show();
        }
        var numbers = $('.drs').text();
        var numbersArray =numbers.split(',');
        var option = '';
        for (var i=0;i<numbersArray.length;i++){
            newString = numbersArray[i].replace(/[^0-9a-zA-Z.@ ]/g, '');
            option += '<option value="'+ newString + '">' + newString + '</option>';
        }
        $('#dr').append(option);
});
 </script>
</head>
<body>
<div class = 'buttonsbar'>
<form action="/dashboard" method="get">
    <button style="left:35px;width: 100px;"  class="button-all">Home</button>
</form>
<form action="/logout" method="get">
   <button style="left:260px;width: 100px;"  class="button-all"  >logout</button>
</form>
</div>
<div class = "drs" hidden>
    <h5>{{drs}}</h5>
</div>

<div class="error-popup" id="myForm1">
     <form action="/printreceipt" method="post" class="form-container">
<span class="btncancel">&#10006;</span>
<h3>{{error}}</h3>
     </form>
</div>
<form>
<!--    <p style="color:red;padding-left:500px;">Dont use special charcters, use only Alphanumeric</p>-->
<div>
    <form name ='myForm' id ='' method="post" action="">
         <br><br>   <button id="submit" style="left:150px;width: 100px;"  class="button-all"  type="submit" formmethod='post' formaction="/ipd_add_db" >Submit</button><br><br><br><br>
<div  onsubmit="submit.disabled = true">
  <div class="ipd_table1" style="width:50%; display: inline-block;">
<table id = "table_data1"  style="width:80%">
 <tr id="TR1" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Patient Name :</b></td>
    <td class="col" style="font-size: 13px" >
        <input style="width: 250px;" type="text" id="patient" name="patient" pattern="[a-zA-Z0-9\s]+" placeholder="Patient Name.." required size="50">
    </td>
  </tr>
<tr id="TR2" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Date of Admission :</b></td>
    <td class="col" style="font-size: 13px" >
       <input style="width: 250px;"  type="datetime-local" id="doa" name="doa" required>
    </td>
  </tr>

     <tr id="TR3" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Age :</b></td>
    <td class="col" style="font-size: 13px" >
        <input style="width: 250px;"  type="text" id="age" pattern="[a-zA-Z0-9\s]+" name="age" placeholder="Age.." required>
    </td>
  </tr>
  <tr id="TR4" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Date od Birth :</b></td>
    <td class="col" style="font-size: 13px" >
    <input style="width: 250px;"  type="date" id="dob" name="dob" required>
    </td>
  </tr>
<tr id="TR5" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Sex :</b></td>
    <td class="col" style="font-size: 20px" >
         <select style="width: 250px;height:20px" id="sex" name="sex">
            <option value="None"></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </td>
  </tr>
<tr id="TR6" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Blood Group :</b></td>
    <td class="col" style="font-size: 13px" >
    <select style="width: 250px;height:20px" id="bloodgroup" name="bloodgroup">
             <option value="None"></option>
            <option value="A positive">A positive</option>
            <option value="A negative">A negative</option>
            <option value="B positive">B positive</option>
            <option value="B negative">B negative</option>
            <option value="AB positive">AB positive</option>
            <option value="AB negative">AB negative</option>
            <option value="O positive">O positive</option>
            <option value="O negative">O negative</option>
        </select>
    </td>
<tr id="TR7" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Room no :</b></td>
    <td class="col" style="font-size: 13px" >
       <input style="width: 250px;"  type="text" pattern="[a-zA-Z0-9\s]+" id="roomno" name="roomno" placeholder="Room No.." required>
    </td>
  </tr>
     <tr id="TR8" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Guardian :</b></td>
    <td class="col" style="font-size: 20px" >
        <input style="width: 250px;" type="text" id="guardian" pattern="[a-zA-Z0-9\s]+" placeholder="Enter guardian" name="guardian" required size="100">
    </td>
  </tr>
   <tr id="TR9" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Mobile no :</b></td>
    <td class="col" style="font-size: 13px" >
       <input style="width: 250px;"  pattern="[0-9]{10}" type="tel" id="phone" name="phone" placeholder="Mobile no.." required maxlength="10">
    </td>
  </tr>
<tr id="TR10" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Maritial Status :</b></td>
    <td class="col" style="font-size: 13px" >
        <select style="width: 250px;height:20px" id="maritailstatus" name="maritailstatus">
             <option value="None"></option>
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
            <option value="Widow">Widow</option>
        </select>
    </td>
</tr>
</table>
</div>
    <div class="ipd_table2" style="width:50%; float: left; display: inline-block;">
     <table id = "table_data2"  style="width:80%">
           <tr id="TR11" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Address :</b></td>
    <td class="col" style="font-size: 20px" >
        <input style="width: 250px;" type="text" pattern="[a-zA-Z0-9\s]+" id="address" placeholder="Enter address" name="address" required size="50">
    </td>
  </tr>
 <tr id="TR12" >
    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Consulting Doctor :</b></td>
    <td class="col" style="font-size: 20px" >
     <select style="width: 250px;height:20px" id="dr" name="dr">
          <option value="None"></option>
        </select>
    </td>
  </tr>
    <tr id="TR13" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Department :</b></td>
    <td class="col" style="font-size: 20px" >
     <select style="width: 250px;height:20px" id="dept" name="dept">
             <option value="None"></option>
            <option value="General Medicine">General Medicine</option>
            <option value="Orthopedics">Orthopedics</option>
            <option value="Nephrology">Nephrology</option>
        </select>
    </td>
      </tr>
 <tr id="TR14" >
    <td class="col" style="font-size: 13px" ><b>Ref Doctor :</b></td>
    <td class="col" style="font-size: 13px" >
        <input style="width: 250px;" type="text" id="refdr"  name="refdr" placeholder="Ref Doctor.."  size="50">
    </td>
  </tr>
<tr id="TR15" >
    <td class="col" style="font-size: 13px" ><b>Present Complaints :</b></td>
    <td class="col" style="font-size: 13px" >
    <input type="text"  id="presentcomp" name="presentcomp" placeholder="Present Complaints..max 80 char.." maxlength="80" style="font-family:sans-serif;font-size:1.0em;width:250px;resize: none;" >
    </td>
<tr id="TR16" >
    <td class="col" style="font-size: 13px" ><b>Family History :</b></td>
    <td class="col" style="font-size: 13px" >
   <input name="familyhist"  type="text"  placeholder="Family History..max 80 char.." maxlength="80" style="font-family:sans-serif;font-size:1.0em;height:15px;width:250px;resize: none;">
    </td>
 </tr>
<tr id="TR17" >
    <td class="col" style="font-size: 13px" ><b>Remarks :</b></td>
    <td class="col" style="font-size: 13px" >
   <input name="remarks" type="text"  placeholder="Remarks..max 80 char.." maxlength="80" style="font-family:sans-serif;font-size:1.0em;height:15px;width:250px;resize: none;">
    </td>
 </tr>
<!-- <tr id="TR18" >-->
<!--    <td class="col" style="font-size: 13px" ><b>Advance :</b></td>-->
<!--    <td class="col" style="font-size: 13px" >-->
<!--        <input style="width: 250px;" type="number"  id="advance" name="advance" placeholder="Advance.." required>-->
<!--    </td>-->
<!--  </tr>-->
<!-- <tr id="TR19" >-->
<!--    <td class="col" style="font-size: 13px" ><span  style="color:red"> *</span><b>Payment Mode :</b></td>-->
<!--     <td class="col" style="font-size: 20px" >-->
<!--         <select style="width: 250px;height:20px" id="paymode" name="paymode">-->
<!--             <option value="None">None</option>-->
<!--            <option value="Cash">Cash</option>-->
<!--            <option value="UPI">UPI</option>-->
<!--            <option value="Card">Card</option>-->
<!--        </select>-->
<!--    </td>-->
<!--  </tr>-->
<!--<tr id="TR20" >-->
<!--    <td class="col" style="font-size: 13px" ><b>Date of Discharge :</b></td>-->
<!--    <td class="col" style="font-size: 13px" >-->
<!--       <input style="width: 250px;"  type="datetime-local" id="dod" name="dod" >-->
<!--    </td>-->
<!--</tr>-->
  </table>
     </div>
</div>
  </form>
   </div>
</form>




<div class="copyright">
    <p>©primosoftwaresolutions</p>
</div>
</body>


</html>