<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>outpatient</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script>
        $(document).ready(function(){
        $(".form-popup").hide();
        $(".form-popup2").hide();
        $(".form-popup3").hide();
        $(".open-button").click(function(){
        $(".form-popup").show();
        });
        $(".btncancel").click(function(){
        $(".form-popup").hide();
        $(".form-popup1").hide();
        $(".form-popup2").hide();
        $(".form-popup3").hide();
        });
        $("#cashreport").click(function(){
        $(".form-popup1").show();
        });
        $("#montlycashreport").click(function(){
        $(".form-popup2").show();
        });
        $("#yearlycashreport").click(function(){
        $(".form-popup3").show();
        });
});
 </script>
</head>
<body>
<div class = 'buttonsbar'>
    <form action="/dashboard" method="get">
    <button style="left:30px;width: 100px;"  class="button-all">Home</button>
</form>
<form action="/logout" method="get">
   <button style="left:510px;width: 100px;"  class="button-all" >logout</button>
</form>
<button  style="left:150px;width: 160px;"  id='cashreport' class="button-all" >Daily Cash Report</button>
<button  style="left:320px;width: 180px;"  id='montlycashreport' class="button-all" >Monthly Cash Report</button>
<!--<button  style="left:510px;width: 180px;"  id='yearlycashreport' class="button-all" >Yearly Cash Report</button>-->
</div>


<div class="form-popup1" id="myForm1">
     <form action="/cashreport" method="post" class="form-container">
<span class="btncancel">&#10006;</span>
         <table id = "table_data2" style="width:100%">
 <tr id="Tk1" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Date :</b></td>
    <td class="col" style="font-size: 20px" >
        <input style="width: 200px;" type="date" id="date"  name="date" required>
    </td>
  </tr>
</table><br>
        <button class="btn">Submit</button>
</form>
</div>

<div class="form-popup2" id="myForm2">
     <form action="/monthlycashreport" method="post" class="form-container">
<span class="btncancel">&#10006;</span>
         <table id = "table_data3" style="width:100%">
 <tr id="Tk2" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Month :</b></td>
    <td class="col" style="font-size: 20px" >
        <input style="width: 200px;" type="month" id="month"  name="month" required>
    </td>
  </tr>
</table><br>
        <button class="btn">Submit</button>
</form>
</div>

<div class="form-popup3" id="myForm3">
     <form action="/yearlycashreport" method="post" class="form-container">
<span class="btncancel">&#10006;</span>
         <table id = "table_data4" style="width:100%">
 <tr id="Tk3" >
    <td class="col" style="font-size: 15px" ><span  style="color:red"> *</span><b>Month :</b></td>
    <td class="col" style="font-size: 20px" >
         <select style="width: 210px;height:20px" id="year" name="year">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
        <option value="2032">2032</option>
        <option value="2033">2033</option>
        <option value="2034">2034</option>
        <option value="2035">2035</option>
        <option value="2036">2036</option>
        <option value="2037">2037</option>
        <option value="2038">2038</option>
        <option value="2039">2039</option>
        <option value="2040">2040</option>
        <option value="2041">2041</option>
        <option value="2042">2042</option>
        <option value="2043">2043</option>
        <option value="2044">2044</option>
        <option value="2045">2045</option>
        <option value="2046">2046</option>
        <option value="2047">2047</option>
        <option value="2048">2048</option>
        <option value="2049">2049</option>
        <option value="2050">2050</option>
        </select>
    </td>
  </tr>
</table><br>
        <button class="btn">Submit</button>
</form>
</div>

<div class="copyright">
    <p>©primosoftwaresolutions</p>
</div>
</body>
</html>